.today-work{
    padding-left: 100px;
}
.home-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    
}
.home-item1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding-left: 100px;
    padding-right: 10px;
    margin-top: 20px;
}

@media screen and (max-width:1300px) {
.home-item1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}    
}