.header-container{
    background-color: rgb(8, 8, 15);
    padding: 10px;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.icon-dumble{
    margin-right: 10px;
    color: rgb(224, 210, 9);
}
.header-link a{
 text-decoration: none;
 color: white;
 margin-right: 20px;
 font-size: 17px;
}
.header-link a:hover{
color: orangered;
}
@media screen and (max-width:900px) {
    .header-link a{
        display: none;
    }
}