.banner-container{
    width: 250px;
    height: 440px;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;
}

.banner-img{
    width: 230px;
    padding: 10px;
    border-radius: 20px;
}